:80 {
	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}
	@assets path /assets/*
	header @assets Cache-Control "public, max-age=31536000, immutable"
	request_body {
		max_size 11MB
	}
	handle /api/* {
		reverse_proxy backend:8000
	}
	handle {
		encode zstd gzip
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
